*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
    color: #FFFAFA;
    
}
body{
width: 100vw;
height: 100vh;
background: 	#030303;
position: absolute;
display: block;
}
.wrapper{
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23220000' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23440000' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23660000' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%23880000' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%23A00' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    width: 80vw;
    height: 100vh;
    display: block;
    padding: 10%;
    margin-left: 140px;
}

.container-links{
    top: 232px;
    margin-top: -36px;
    position: absolute;
    margin-left: 50%;
    display: flex;
}

.links {
    margin-right: 20px ;
    cursor: pointer;
}
.links:hover {
    color: #6d3131;
}
.links:active {
    color: #030303;
}

button {
    border-radius: 30% 10%;
    background-color: #880000;
    padding: 2% 4%;
    margin-top: -15px;
    font-size: 20px;
    cursor: pointer; 
}

button:hover {
    color: #8ea290;
}
button:active {
    color: azure;
}
.leao-fundo {
    width: 161px;
    position: absolute;
    display: block;
    margin-left: 25%;
    margin-top: -112px;
    cursor: pointer;
}
h1 {
    text-align: center;
    margin-top: 70px;
    text-shadow: 2px 2px #6d3131;
    font-size: 30px;
}
h2{
    text-shadow: 2px 2px #6d3131;
}
p{
    position: relative;
    align-items: center;
    display: block;
}